{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WeatherBot | Django Weather</title>
        <meta charset="UTF-8">
        <meta name="author" content="Reece Watson">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}"> <!-- {% static 'styles/styles.css' %} -->
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <h1>Django Weather Services</h1>
        </div>
        
        <!-- Navigation heading bar -->
        <div class="navbar">
            <ul>
                <li><a href="{% url 'DWS_app:home' %}" title="Home">Home</a></li>
                <li><a href="{% url 'DWS_app:about_us' %}" title="About Us">About Us</a></li>
                <li><a href="{% url 'DWS_app:customer_feedback' %}" title="Customer Feedback">Customer Feedback</a></li>
                <li><a href="{% url 'DWS_app:future' %}" title="Our Future">Our Future</a></li>
                <li><a href="{% url 'DWS_app:weather_app' %}" title="Weather App">WEATHER APP</a></li>
                <li><a href="{% url 'DWS_chatbot:chatbot' %}" title="WeatherBot Chat">WeatherBot Chat</a></li>
            </ul>
        </div>

        <div class="title padding_left">
            <h2>Need a hand using the Weather app?</h2>
        </div>

        <div class="title padding_left">
            <h3>Ask WeatherBot your questions below!</h3>
            <!-- <p><b><u>NOTE:</u></b> If you input a "S" latitude or "W" longitude, please add a "-" in front of the number.</p> -->
        </div>

        <!-- CHAT DIALOG BOX -->
        <div class="weather_data">
            <form method="POST" name="user_input_form">
                {% csrf_token %}
                <input id="user_input" name="question" placeholder="Ask WeatherBot a question..." autofocus="autofocus">
                <input id="submit_button" type="submit">
            </form>
            <div class="chat_window">
                <p class="chatbot_message">You:</p>{{question}}
                <p class="chatbot_message">WeatherBot:</p>{{answer}}
            </div>
        </div>