{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home | Django Weather</title>
        <meta charset="UTF-8">
        <meta name="author" content="Reece Watson">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS styles -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <h1>Django Weather Services</h1>
        </div>
        
        <!-- Navigation heading bar -->
        <div class="navbar">
            <ul>
                <li><a href="{% url 'DWS_app:home' %}" title="Home">Home</a></li>
                <li><a href="{% url 'DWS_app:about_us' %}" title="About Us">About Us</a></li>
                <li><a href="{% url 'DWS_app:customer_feedback' %}" title="Customer Feedback">Customer Feedback</a></li>
                <li><a href="{% url 'DWS_app:future' %}" title="Our Future">Our Future</a></li>
                <li><a href="{% url 'DWS_app:weather_app' %}" title="Weather App">WEATHER APP</a></li>
                <li><a href="{% url 'DWS_chatbot:chatbot' %}" title="WeatherBot Chat">WeatherBot Chat</a></li>
            </ul>
        </div>

        <div class="title padding_left">
            <h2>Welcome to Django Weather Services!</h2>
        </div>
        <p class="paragraph_text padding_left">
            Django Weather Services pride 
            themselves with providing up 
            to date weather information through 
            our state-of-the-art weather app. 
            Just enter your location's longitude 
            and latitude and let us do the rest! 
            Have a go now!
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="video">
            <video autoplay loop muted>
                <source src="{% static 'images/skyvideo.mp4' %}" type="video/mp4">
            </video>
        </div>
        <footer>
            Django Weather Services 2021
        </footer>
    </body>
</html>